.card-header {
  cursor: pointer;
  font-size: 1.2rem;
}
.card {
  border: none;
}
.card-body {
  padding: 0.75rem 1.25rem;
}
header {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  background-color: #ddd;
  box-shadow: rgb(191, 185, 166) 1px 2px 6px;
  color: rgba(99, 103, 110, 0.96);
  padding: 20px 0;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}
h1 {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 50%;
}
#logoContainer {
  width: 400px;
  text-align: left;
}
img {
  width: 80%;
  margin-left: 20px;
}
.table-container {
  display: flex;
  justify-content: space-between;
}
.table-container .table {
  margin: 0;
  width: 48%;
}
.edit-buttons {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
}
.edit-buttons button {
  margin-right: 10px;
}
.edit-input {
  display: none;
  width: 80%;
}
.loading-icon {
  display: none;
}
.btn-edit {
  background-color: #FFBF00;
  color: white;
  border: none;
}
.btn-edit .fas {
  color: white;
}
.btn-save {
  background-color: #28a745;
  color: white;
  border: none;
}
.btn-save .fas {
  color: white;
}
#content-page1, #content-page2 {
  display: none;
}
